packages: [
  "activate-power-mode"
  "atom-beautify"
  "AtomicChar"
  "autoclose-html"
  "code-peek"
  "color-picker"
  "convert-to-utf8"
  "emmet"
  "git-plus"
  "git-status"
  "highlight-selected"
  "linter"
  "linter-pep8"
  "linter-xo"
  "markdown-writer"
  "minimap"
  "minimap-cursorline"
  "minimap-highlight-selected"
  "package-sync"
  "pigments"
  "script"
  "script-runner"
  "seti-icons"
  "sort-lines"
  "wakatime"
]
